.header {

  width: 660px;
  padding: 0.5rem;
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header p {

  width: 16%;
  font-weight: bold;
}
