.header {
  padding: 0.5rem;
  /*border: #ccc 1px dotted;*/
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header p {
  margin: 0 250px 0 0;

  font-weight: bold;
}
