.item {
  padding: 0.5rem;
  border: #ccc 1px dotted;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

p {

  width: 16%;

}

.buttons {
  margin-left: auto;
}

button {
  margin-right: 10px;
}

.wrapper {
  width: 660px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
