
<div >

  <form [formGroup]="form"  class="header">


    <mat-form-field class="example-full-width" appearance="fill" style="margin-right: 20px">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput [formControl]="email"
        placeholder="Ex. pat@example.com"
      >

      <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="email.hasError('required')">
        Email is required
      </mat-error>

    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Github account</mat-label>
      <input
        type="email"
        matInput [formControl]="login"
        placeholder=""
      >

    </mat-form-field>

    <button mat-raised-button
            style="margin-left: auto; margin-right: 0;"
            (click)="addUser()"
            [disabled]="form.invalid"
            type="submit">Добавить</button>


  </form>

</div>
